/**
 * Language files for Fantastic Novel Template
 * FIle name : global.css
 * Developer : SubMaRk
 * Website   : https://naynum.engineer
 * Date      : July 3, 2019
 * Update    : July 3, 2019
 */

html, body, div, p, h5, h4, h3, h2, h1, a, span, pre, blockquote, form, fieldset, ul, ol, dl, li, dd {
  font-family: 'fc_lamoon', sans-serif;
}

/**
 * Title    : Card animation
 * Author   : LamChang
 * URL      : https://codepen.io/lamchang/pen/PQGQyR
*/
:root {
    --fontOrigin: 1rem; /* 16px */
    --fontSmall: 0.625em; /* 10px */
    --fontMedium: 0.875em; /* 14px */
    --fontNormal: 1em; /* 16px */
    --fontLarge: 1.375em; /* 22px */
    --fontLight: 100;
    --fontRegular: 400;
  }
@keyframes zoom {
    from {
      object-position: 0 50%;
    }
    to {
      object-position: 100% 50%;
    }
  }

.card {
    position: relative;
    grid-area: card;
    align-self: center;
    justify-self: center;
    overflow: hidden;
    display: block;
    max-width: 205px;
    height: 275px;
    font-size: 1rem;
    border-radius: 8px;
    box-shadow: 0 16px 60px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin: 1.5rem 1rem 1rem 0;
    -webkit-transition: all 0.65s ease;
    transition: all 0.65s ease;
    -moz-transition: all 0.65s ease;
    -ms-transition: all 0.65s ease;
    -o-transition: all 0.65s ease;
}
  
  .card:hover {
    box-shadow: 0 40px 130px rgba(0, 0, 0, 0.6);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  
  .card-save {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    width: 35px;
    height: 35px;
    background: transparent;
    border: 0;
    opacity: 0;
    border-radius: 3px;
    -webkit-transition: all 0.65s ease;
    transition: all 0.65s ease;
  }
  
  .card-save:focus {
    outline: 0;
    background-color: rgba(255, 255, 255, 0);
  }
  .card:hover .card-save {
    opacity: 1;
  }
  .card-save i {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    -webkit-transition: all 0.65s ease;
    transition: all 0.65s ease;
    -moz-transition: all 0.65s ease;
    -ms-transition: all 0.65s ease;
    -o-transition: all 0.65s ease;
}
  
  .card-save:hover i {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .card-save:active,
  .card-save.active {
    opacity: 1 !important;
  }
  
  .card-save:active i,
  .card-save.active i {
    color: white;
  }
  
  .card-img {
    margin:0 -7%;
    z-index: -1;
    overflow: hidden;
    display: block;
    width: 114%;
    height: 100%;
    pointer-events: none;
    background: rgba(0, 0, 0, 1);
  }
  
  .card-img img {
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
    display: block;
    width: 100%;
    object-fit: cover;
    opacity: 1;
    -webkit-transition: all 0.65s ease;
    transition: all 0.65s ease;
    animation-name: zoom;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -moz-transition: all 0.65s ease;
    -ms-transition: all 0.65s ease;
    -o-transition: all 0.65s ease;
}
  
  .card:hover .card-img img {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0.5;
  }
  .card-profile {
    align-self: center;
    justify-self: center;
	margin:auto;
    display: block;
    overflow: hidden;
    width: 6vmax;
    height: 6vmax;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
  }
  
  .card-profile img {
    -webkit-transform: scale(1.5, 1.5)  translateZ(0);
    transform: scale(1.5, 1.5)  translateZ(0);
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    -webkit-filter: grayscale(50%) contrast(75%) brightness(1.3);
    filter: grayscale(50%) contrast(75%) brightness(1.3);
    -webkit-transition: all 0.65s ease;
    transition: all 0.65s ease;
    mix-blend-mode: normal;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform: scale(1.5, 1.5)  translateZ(0);
    -ms-transform: scale(1.5, 1.5)  translateZ(0);
    -o-transform: scale(1.5, 1.5)  translateZ(0);
}
  
  .card:hover .card-profile img {
    -webkit-transform: scale(1, 1)  translateZ(0);
    transform: scale(1, 1)  translateZ(0);
    -moz-transform: scale(1, 1)  translateZ(0);
    -ms-transform: scale(1, 1)  translateZ(0);
    -o-transform: scale(1, 1)  translateZ(0);
}
  
  .card-body {
    display: block;
    position: absolute;
    overflow:visible;
    margin-left:-12px;
    top:20px;
	width:100%;
	height:100%;
  }
  .card-title {
    align-self: center;
    justify-self: center;
	padding-top:10%;
    color: white;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.65s ease;
    transition: all 0.65s ease;
    -moz-transition: all 0.65s ease;
    -ms-transition: all 0.65s ease;
    -o-transition: all 0.65s ease;
}
.card:hover .card-box {
	margin: 5px 0 0 0;
	background-color:unset;
}
  .card-author {
    align-self: center;
    justify-self: center;
    display: block;
	margin:auto;
    font-size: 0.85rem;
    font-weight: 600;
    text-align: center;
    color: #039be5;
    -webkit-transition: all 0.65s ease;
    transition: all 0.65s ease;
    -moz-transition: all 0.65s ease;
    -ms-transition: all 0.65s ease;
    -o-transition: all 0.65s ease;
}
  
  .card:hover .card-author {
    color: #039be5;
  }
.card-box {
	background-color: rgba(0,0,0,0.5);
	margin-top:30%;
	top:0;
	height:100%;
	display:block;
}
 
  
  .card-text {
    position: relative;
    -webkit-transform: translateY(30%);
    transform: translateY(30%);
    display: block;
    margin: 22px 0 16px 0;
    font-size: var(--fontMedium);
    font-weight: var(--fontLight);
    text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.35);
    color: #fafafa;
    opacity: 0;
    -webkit-transition: all 0.65s ease;
    transition: all 0.65s ease;
    -moz-transition: all 0.65s ease;
    -ms-transition: all 0.65s ease;
    -o-transition: all 0.65s ease;
}
  
  .card:hover .card-text {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
  
  .card-footer {
    position: absolute;
    overflow:visible;
    margin:-35% 0 0 25%;;
    -webkit-transform: translateY(60%);
    transform: translateY(60%);
	z-index: -1;
    -webkit-transition: all 0.65s ease;
    transition: all 0.65s ease;
    -moz-transform: translateY(60%);
    -ms-transform: translateY(60%);
    -o-transform: translateY(60%);
    -moz-transition: all 0.65s ease;
    -ms-transition: all 0.65s ease;
    -o-transition: all 0.65s ease;
}
  
  .card:hover .card-footer {
    -webkit-transform: translateY(0);
    transform: translateY(0);
	z-index: 0;
  }
  
  .card__date {
    grid-area: date;
    display: inline-block;
    align-self: left;
    justify-self: left;
    font-size: var(--fontSmall);
    font-weight: var(--fontLight);
    text-transform: uppercase;
    text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.45);
    color: rgba(250, 250, 250, 0.4);
  }