        <!-- FOOTER -->
        <section id="footer">
            <footer class="page-footer">
                <div class="container" id="global-w">
                    <div class="row">
                        <div class="col s12 m6 l3">
                            <div class="footer-1">
                                <img src="{templates}/static/image/logo.svg" alt="อ่านนิยายแนวกำลังภายใน ผจญภัย ไซไฟ โรแมนติก Xianxia Xuanhuan Wuxia ที่สนุก เร้าใจ สุดมันส์ และน่าติดตามได้ที่เว็บนายน้อย (NAY-NOI.COM) เลย!!!">
                                <h5 class="trn">นายน้อย</h5>
                                <p class="trn" data-value="des">อ่านนิยายแนวกำลังภายใน ผจญภัย ไซไฟ โรแมนติก Xianxia Xuanhuan Wuxia ที่สนุก สุดมันส์ และน่าติดตามได้ที่เว็บนายน้อย (NAY-NOI.COM)</p>
                            </div>
                        </div>
                        <div class="col s12 m6 l3">
                            <div class="footer-2">
                                <h5 class="trn">ข้อมูลทั่วไป</h5>
                                <ul>
                                    <li><a href="" class="black-text" data-value="htu">+ การใช้งาน +</a></li>
                                    <li><a href="" class="black-text" data-value="qt">+ คำถามที่พบบ่อย +</a></li>
                                    <li><a href="" class="black-text" data-value="cdt">+ เงื่อนไขการใช้งาน +</a></li>
                                    <li><a href="" class="black-text" data-value="pvp">+ นโยบายความเป็นส่วนตัว +</a></li>
                                    <li><a href="" class="black-text" data-value="rp">+ รายงานการละเมิด +</a></li>
                                    <li><a href="" class="black-text" data-value="ct">+ ติดต่อเรา +</a></li>
                                    <li><a href="" class="black-text" data-value="abt">+ เกี่ยวกับ +</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col s12 m6 l3">
                            <div class="footer-3">
                                <h5 class="trn">แผนผังเว็บไซต์</h5>
                                <ul>
                                    <li><a href="{网站地图:html}" title="Sitemap HTML" class="black-text">Sitemap HTML</a></li>
                                    <li><a href="{网站地图:xml}" title="Sitemap XML" class="black-text">Sitemap XML</a></li>
                                    <li><a href="{网站地图:rss}" title="RSS" class="black-text">RSS</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col s12 m6 l3">
                            <div class="footer-4">
                                <h5 class="trn">เว็บในเครือข่าย</h5>
                                <ul>
                                    <li><a href="https://nay-noi.com" class="black-text" title="">+ นายน้อย +</a></li>
                                    <li><a href="https://novel.nay-noi.com" class="black-text" title="">+ อ่านนิยาย +</a></li>
                                    <li><a href="https://nay-noi.com/s" class="black-text" title="">+ ย่อลิ้งก์ +</a></li>
                                    <li><a href="https://media.nay-noi.com" class="black-text" title="">+ สื่อบันเทิง +</a></li>
                                    <li><a href="https://adult.nay-noi.com" class="black-text" title="">+ สื่อสำหรับผู้ใหญ่ +</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </section>
        <div class="footer-copyright black col s12 center">
            <p>&copy 2017-2019 <a href="{首页}" title="{网站名}"> {网站名} </a> All Rights Reserved. | Designed by <a href="https://www.facebook.com/NumSubMaRk" title="ยุทธพล อินไชยา"> SubMaRk </a> | Powered by <a href="http://www.weimengcms.com">WeimengCMS </a>V4.325.743 (Up to date)</p>
            <a href="https://www.copyscape.com/"><img src="{templates}/static/image/copyscape.png" width="130" height="46" border="0" alt="Protected by Copyscape" title="Protected by Copyscape Plagiarism Checker - Do not copy content from this page." /></a>
            <span style="padding-right:10px;"></span>
            <a href="https://ifastnet.com/portal/aff.php?aff=25156"><img src="{templates}/static/image/ifastnet.png" height="46" alt="Hosted on IFastNet" title="Ifastnet.com is a Premium Hosting Provider, VPS hosting and dedicated servers. Over 5,000,000 websites trust us for their hosting needs." /></a>
        </div>
    </body>
    <script src="{templates}/static/js/jquery-3.4.1.min.js"></script>
    <script src="{templates}/static/js/materialize.min.js"></script>
    <script src="{templates}/static/js/global.js"></script>
    <script src="{templates}/static/js/lang/langswitch.js"></script>
    <script src="{templates}/static/js/yall.min.js"></script>
    <script>
        $(document).ready(function() {
        $('.modal').modal();
        $(".dropdown-trigger").dropdown({
          hover:true,
        });
        $('.collapsible').collapsible();
        $('.slider').slider({
          duratiion:1000,
          interval:6000,
        });
        $('ul.tabs').tabs();
        });
        document.addEventListener("DOMContentLoaded", function() {
            yall({
                observeChanges: true
            });
        });
    </script>
</html>