        <section id="nav">
            <div class="navbar-fixed">
                <nav>
                    <div class="nav-wrapper">
                        <a href="{首页}" title="{网站名}" class="brand-logo"><span class="trn">นายน้อย</span></a>
                        <ul class="left hide-on-med-and-down main_nav">
                            <li><a href="{首页}" title="{网站名}" class="trn">หน้าหลัก</a></li>
                            <li><a href="{全部小说}" class="trn" title="เรื่องทั้งหมด">เรื่องทั้งหมด</a></li>
                            <!-- Categories Dropdown -->
                            <li><a href="#" data-target="drop-cgr" class="dropdown-trigger trn"
                                    title="หมวดหมู่">หมวดหมู่<i class="fas fa-angle-down right"></i></a></li>
                            <!-- Categories Structure -->
                            <ul class="dropdown-content" id="drop-cgr">
                                {小说分类:数量=15;排序=分类排序}<li><a href="{url}" class="trn" title="{小说分类名字}">{小说分类名字}</a></li>
                                {/小说分类}
                            </ul>
                            <li><a href="{小说排行首页}" class="trn" title="อันดับ">อันดับ</a></li>
                            <!-- About Dropdown -->
                            <li><a href="#" data-target="drop-about" class="dropdown-trigger trn"
                                    title="เกี่ยวกับ">เกี่ยวกับ<i class="fas fa-angle-down right"></i></a></li>
                            <!-- About Structure -->
                            <ul class="dropdown-content" id="drop-about">
                                <li><a href="#" class="trn">สนับสนุนผู้แปล</a></li>
                                <li><a href="#" class="trn">การใช้งาน</a></li>
                                <li><a href="#" class="trn">คำถามที่พบบ่อย</a></li>
                                <li><a href="#" class="trn">รายงานการละเมิด</a></li>
                                <li><a href="#" class="trn">ติดต่อเรา</a></li>
                                <li><a href="#" class="trn">ช่วยเหลือเว็บไซต์</a></li>
                                <li><a href="#" class="trn">เกี่ยวกับ</a></li>
                            </ul>
                            <li><a href="#" class="trn">ลงนิยาย</a></li>
                        </ul>
                        <ul class="right hide-on-med-and-down main_nav">
                            <li>
                                {已登录}<a href="#" class="dropdown-trigger" id="pc-login" data-target="drop-login"><img
                                        class="circle" id="user_icon" src="{用户头像}" /></a>
                                <ul class="dropdown-content" id="drop-login">
                                    <li><a href="#" class="subheader center">ศูนย์ผู้ใช้</a></li>
                                    <li><a href="{用户中心}"><i class="far fa-home"></i>พื้นที่ส่วนตัว</a></li>
                                    <li><a href="{头像设置}"><i class="far fa-users-cog"></i>รูปประจำตัว</a></li>
                                    <li><a href="{消息列表}"><i class="far fa-envelope"></i>ข้อความ</a></li>
                                    <li><a href="{我的书架}"><i class="far fa-books"></i>ชั้นหนังสือ</a></li>
                                    <li><a href="{我的收藏}"><i class="far fa-heart"></i>เรื่องที่ชอบ</a></li>
                                    <li><a href="{签到中心}"><i class="far fa-calendar-check"></i>เช็คชื่อ</a></li>
                                    <li><a href="{退出登录}"><i class="far fa-sign-out"></i>ออกจากระบบ</a></li>
                                    <li><a href="#" class="subheader center">ศูนย์นักเขียน</a></li>
                                    <li><a href="/module/author/index.php"><i class="far fa-home"></i>หนักหลัก</a></li>
                                    <li><a href="/module/author/novel_novellist.php?page=1"><i
                                                class="far fa-edit"></i>จัดการนิยาย</a></li>
                                    <li><a href="/module/author/article_articlelist.php?page=1"><i
                                                class="far fa-edit"></i>จัดการบทความ</a></li>
                                </ul>{/已登录}
                                {未登录}<a href="#" class="dropdown-trigger" id="pc-logout" data-target="drop-logout"><img
                                        class="circle" id="user_icon" src="{用户头像}" /></a>
                                <ul id="drop-logout" class="dropdown-content">
                                    <li><a href="{登录}" title="เข้าสู่ระบบ"><i class="far fa-sign-in"></i>เข้าสู่ระบบ</a>
                                    </li>
                                    <li><a href="#reg" class="modal-trigger" title="ลงทะเบียน"><i
                                                class="far fa-user-plus"></i>ลงทะเบียน</a></li>
                                    <li><a href="{找回密码}" title="กู้คืนรหัสผ่าน"><i
                                                class="far fa-lock"></i>กู้คืนรหัสผ่าน</a></li>
                                </ul>
                                <!-- Terms and Service Structure -->
                                <div id="reg" class="modal modal-fixed-footer">
                                    <div class="modal-content">
                                        <h5 class="center">ข้อตกลงการใช้งาน</h5>
                                        <p class="agreement indent">เมื่อผู้ใช้ลงทะเบียนบนเว็บไซต์ TH-SHARING
                                            และแพลตฟอร์มออนไลน์นี้ (ซึ่งเรียกว่า "เว็บไซต์")
                                            ผู้ที่ประสงค์จะลงทะเบียนเป็นสมาชิกจำเป็นต้องอ่านรายละเอียดและข้อตกลงต่อไปนี้อย่างรอบคอบ
                                            เมื่อลงทะเบียนเป็นสมาชิกบนเว็บไซต์
                                            การเผยแพร่ผลงาน/ความคิดเห็น/ข้อความ/บทความ/ข้อมูลต่าง ๆ
                                            บนเว็บไซต์ของเราควรเป็นไปตามกฎในการใช้งาน ดำเนินการ
                                            และเผยแพร่ข้อมูลที่เกี่ยวข้องบนเว็บไซต์ หากคุณไม่ยอมรับข้อตกลงทั้งหมดของเรา
                                            คุณจะไม่ได้รับอนุญาตให้ลงทะเบียนเป็นสมาชิกบนเว็บไซต์ TH-SHARING ของเรา
                                            สมาชิกที่จะลงทะเบียนบนเว็บไซต์ TH-SHARING
                                            ของเราถือว่าได้อ่านและยอมรับข้อตกลงนี้ทั้งหมดแล้ว<br /><br /><strong>ข้อตกลงส่วนที่
                                                1 การลงทะเบียนเป็นสมาชิก</strong><br /><br />1.
                                            หลังจากลงทะเบียนเป็นสมาชิกบนเว็บไซต์ TH-SHARING ของเรา
                                            คุณจำเป็นต้องเก็บรักษาชื่อผู้ใช้และรหัสผ่านของคุณ
                                            รวมทั้งรับผิดชอบต่อการดำเนินการและพฤติกรรมทั้งหมดในบัญชีของคุณ ทาง
                                            TH-SHARING ขอแนะนำให้คุณเก็บรักษาชื่อผู้ใช้และรหัสผ่านไว้อย่างมิดชิด
                                            เมื่อเสร็จสิ้นการดำเนินการใด ๆ
                                            ควรออกจากระบบทันทีเพื่อความปลอดภัยของบัญชีของคุณ
                                            เนื่องจากหากดูแลรักษาได้ไม่ดีพอ จะส่งผลร้ายต่อบัญชีของคุณ
                                            ซึ่งอาจจะเกิดการโจรกรรมหรือขโมยบัญชีและข้อมูลของคุณไปได้
                                            ซึ่งในกรณีนี้ทางเราไม่ขอรับผิดชอบใด ๆ ทั้งสิ้น<br /><br />2.
                                            ทาง TH-SHARING ขอแนะนำให้คุณใช้อักขระอย่างน้อยสามรูปแบบในการตั้งรหัสผ่าน
                                            อาทิ ตัวพิมพ์ใหญ่ ตัวพิมพ์เล็ก ตัวเลข และตัวอักษรพิเศษ
                                            หากคุณถูกแฮกหรือถูกขโมยบัญชีไป
                                            นั่นเป็นเพราะรหัสผ่านที่คุณตั้งไว้ง่ายจนเกินไป
                                            โปรดติดต่อผู้ดูแลระบบเพื่อดำเนินการแก้ไข<br /><br />3.
                                            การลงทะเบียนเป็นสมาชิกบนเว็บไซต์
                                            TH-SHARING ของเรา
                                            นั่นหมายความว่าคุณเห็นด้วยที่จะมอบสิทธิ์ในการเผยแพร่และโปรโมทงานของคุณบนเว็บไซต์และแพลตฟอร์มออนไลน์ที่เกี่ยวข้องภายใต้อำนาจการจัดการของเว็บไซต์ของเรา<br /><br />4.
                                            ชื่อผู้ใช้ การแนะนำตัว และข้อมูลอื่น ๆ จะต้องไม่ละเมิดกฎหมายของประเทศ
                                            รวมถึงจรรยาบรรณทางสังคมและข้อตกลงของเว็บไซต์
                                            มิฉะนั้นทางเว็บไซต์ขอสงวนสิทธิ์ในการลบบัญชีและเนื้อหาทั้งหมดออกโดยไม่แจ้งให้ทราบล่วงหน้า<br /><br /><strong>ข้อตกลงส่วนที่
                                                2
                                                การใช้งานของผู้เป็นสมาชิก</strong><br /><br />สมาชิกที่เผยแพร่เผยแพร่ผลงาน/ความคิดเห็น/ข้อความ/บทความ/ข้อมูลต่าง
                                            ๆ บนเว็บไซต์นี้ ควรปฏิบัติตามข้อตกลงดังต่อไปนี้ : <br /><br />1.
                                            ผลงานที่เผยแพร่ต้องไม่มีข้อห้ามส่วนใดส่วนหนึ่งในผลงาน :<br />　　A.
                                            ข้อความ/รูปภาพที่พาดพิงถึงรัฐธรรมนูญในประเทศ；<br />　　B.
                                            ข้อความ/รูปภาพที่อาจส่งผลต่อความมั่นคงของประเทศ
                                            การรั่วไหลของความลับทางรัฐบาล การบ่อนทำลาย
                                            และทำลายความสามัคคีภายในชาติ；<br />　　C.
                                            ข้อความ/รูปภาพที่สร้างความเสียหายต่อเกียรติและผลประโยชน์ของชาติ；<br />　　D.
                                            ข้อความ/รูปภาพที่ปลุกระดมความเกลียดชังทางเผ่าพันธุ์
                                            ชนชาติ ศาสนา และทำลายความสามัคคีของชาติ；<br />　　E.
                                            ข้อความ/รูปภาพที่บ่อนทำลายศาสนาเพื่อเผยแพร่ ส่งเสริมลัทธิ และความเชื่อต่าง
                                            ๆ；<br />　　F. ข้อความ/รูปภาพที่ไม่มีมูลความจริง ขัดขวางระเบียบทางสังคม
                                            และมุ่งทำลายเสถียรภาพทางสังคม；<br />　　G.
                                            ข้อความ/รูปภาพที่ลามกอนาจาร การพนัน ความรุนแรง การฆาตกรรม ข่มขู่
                                            และการก่ออาชญากรรม；<br />　　H. ข้อความ/รูปภาพที่ดูถูก ใส่ร้าย ดูหมิ่น
                                            เหยียดหยามผู้อื่นโดยไม่เคารพต่อสิทธิและผลประโยชน์；<br />　　I.
                                            ข้อความ/รูปภาพที่ประกอบด้วยตัวบทกฎหมายและระเบียบข้อบังคับต้องห้ามต่าง
                                            ๆ<br /><br />หากพบเห็นสมาชิกละเมิดข้อตกลงข้างต้น
                                            ทางเว็บไซต์ขอสงวนสิทธิ์ในการนำบัญชีและเนื้อหาที่เกี่ยวข้องทั้งหมดของคุณออกจากระบบของเราโดยไม่แจ้งให้ทราบล่วงหน้า
                                            <br /><br /><strong>ข้อตกลงส่วนที่ 3
                                                ขีดจำกัดความรับผิดชอบ</strong><br /><br />1.
                                            หากมีผู้ไม่ประสงค์ดีส่งบทความ/ผลงาน/ความคิดเห็น/กระทู้ เข้ามาในระบบเว็บไซต์
                                            TH-SHARING และทางระบบรับมันเข้ามา ทางเว็บไซต์ขอปฎิเสธความรับผิดชอบใด ๆ
                                            ที่เกิดความเสียหายจากบทความ/เนื้อหา/ความคิดเห็น/กระทู้นั้น ๆ
                                            และทางเราให้สัญญาว่าจะนำบทความ/ผลงาน/ความคิดเห็น/กระทู้ที่เกิดปัญหานั้น
                                            ๆ ออกจากระบบในทันทีที่ทราบโดยไม่แจ้งให้ทราบล่วงหน้า<br /><br />2.
                                            ในกรณีที่ผู้ใช้บนเว็บไซต์ TH-SHARING ละเมิดผลงาน
                                            ทำซ้ำโดยไม่ได้รับอนุญาตลงในเว็บไซต์ TH-SHARING
                                            ทางเว็บไซต์ขอปฎิเสธความรับผิดชอบใด ๆ ที่เกิดความเสียหายจากการกระทำนั้น ๆ
                                            และทางเราให้สัญญาว่าจะนำผลงานนั้น
                                            ๆ ออกจากระบบในทันทีที่ทราบโดยไม่แจ้งให้ทราบล่วงหน้า<br /><br />3.
                                            ข้อมูลจำพวกรีวิวหนังสือหรือวรรณกรรมต่าง ๆ หากละเมิดข้อตกลงใด ๆ
                                            คุณสามารถแจ้งผู้ดูแลระบบเว็บไซต์ TH-SHARING
                                            เพื่อนำมันออกจากระบบได้<br /><br />4. เว็บไซต์ TH-SHARING
                                            ขอสงวนสิทธิ์ในการจำกัดความเสียหายที่เกิดจากพฤติกรรม
                                            การดำเนินการ
                                            และกิจกรรมทั้งหมดบนเว็บไซต์ที่เกิดจากสมาชิกและตัวระบบ<br /><br />5. เว็บไซต์
                                            TH-SHARING ไม่สามารถรับประกันความปลอดภัยในผลงานต้นฉบับของคุณได้
                                            โปรดรักษาผลงานของคุณด้วยตัวของคุณเอง<br /><br />6. เว็บไซต์ TH-SHARING
                                            ขอสงวนสิทธิ์ที่จะนำผลงานของคุณไปใช้ในการประชาสัมพันธ์โดยไม่แจ้งให้ทราบล่วงหน้า<br /><br />หากพบปัญหาใด
                                            ๆ สามารถแจ้งผู้ดูแลระบบได้ที่<br />E-mail :
                                            admin@th-sharing.com<br />Facebook : thsharing</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#" class="modal-close waves-effect waves-green btn-flat">ยกเลิก</a>
                                        <a href="{注册}" class="modal-close waves-effect waves-green btn-flat">ยอมรับ</a>
                                    </div>
                                </div>
                                {/未登录}
                            </li>
                            <li>
                                <a href="#" data-target="drop-lang" class="dropdown-trigger">เลือกภาษา</a>
                                <ul class="dropdown-content" id="drop-lang">
                                    <li><a href="#" data-value="th" class="lang_selector trn"><span
                                                    class="flag-icon flag-icon-th"></span>ไทย</a></li>
                                    <li><a href="#" data-value="en" class="lang_selector trn"><span
                                        class="flag-icon flag-icon-um"></span>อังกฤษ</a></li>
                                    <li><a href="#" data-value="zh" class="lang_selector trn"><span
                                        class="flag-icon flag-icon-cn"></span>จีน</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </section>