/***************************
/** FILE NAME : font.css
/** Created by SubMaRk
/** Date Created : 3/1/2562
/***************************

/* FONT */
@font-face {
  font-family: 'boonjot';
  src: url('boonjot-regular.eot');
  src: url('boonjot-regular.eot?#iefix') format('embedded-opentype'),
    url('boonjot-regular.woff2') format('woff2'),
    url('boonjot-regular.woff') format('woff'),
    url('boonjot-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fc_lamoon';
  src: url('fc-lamoon-regular.eot');
  src: url('fc-lamoon-regular.eot?#iefix') format('embedded-opentype'),
    url('fc-lamoon-regular.woff2') format('woff2'),
    url('fc-lamoon-regular.woff') format('woff'),
    url('fc-lamoon-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'js_toomtam';
  src: url('js_toomtam_normal.eot');
  src: url('js_toomtam_normal.eot?#iefix') format('embedded-opentype'),
    url('js_toomtam_normal.woff2') format('woff2'),
    url('js_toomtam_normal.woff') format('woff'),
    url('js_toomtam_normal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'layiji_mahaniyom';
  src: url('layijimahaniyomv1041.eot');
  src: url('layijimahaniyomv1041.eot?#iefix') format('embedded-opentype'),
    url('layijimahaniyomv1041.woff2') format('woff2'),
    url('layijimahaniyomv1041.woff') format('woff'),
    url('layijimahaniyomv1041.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tf_arluck';
  src: url('tf_arluck.eot');
  src: url('tf_arluck.eot?#iefix') format('embedded-opentype'),
    url('tf_arluck.woff2') format('woff2'),
    url('tf_arluck.woff') format('woff'),
    url('tf_arluck.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tf_nopscript';
  src: url('tf_nopscript.eot');
  src: url('tf_nopscript.eot?#iefix') format('embedded-opentype'),
    url('tf_nopscript.woff2') format('woff2'),
    url('tf_nopscript.woff') format('woff'),
    url('tf_nopscript.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tf_phethai';
  src: url('tf_phethai.eot');
  src: url('tf_phethai.eot?#iefix') format('embedded-opentype'),
    url('tf_phethai.woff2') format('woff2'),
    url('tf_phethai.woff') format('woff'),
    url('tf_phethai.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'th_charmonman';
  src: url('th_charmonman.eot');
  src: url('th_charmonman.eot?#iefix') format('embedded-opentype'),
    url('th_charmonman.woff2') format('woff2'),
    url('th_charmonman.woff') format('woff'),
    url('th_charmonman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'th_dan_vi_vek';
  src: url('th_dan_vi_vek_ver_1.03.eot');
  src: url('th_dan_vi_vek_ver_1.03.eot?#iefix') format('embedded-opentype'),
    url('th_dan_vi_vek_ver_1.03.woff2') format('woff2'),
    url('th_dan_vi_vek_ver_1.03.woff') format('woff'),
    url('th_dan_vi_vek_ver_1.03.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
